:root {
  --primary-color: #047aed;
  --btn-primary-color: #5ba0e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  overflow: auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--btn-primary-color);
  border: none;
  border-radius: 5px;
  color: #fff;
}
